In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

pd.options.display.max_rows = 100

In [2]:
import wrangle_zillow as w

In [3]:
df = w.acquire_zillow()

Using cached csv

In [4]:
df.shape

(77380, 68)

In [5]:
train, validate, test = w.prepare_zillow(df)

In [6]:
train.shape, validate.shape, test.shape

((38192, 16), (16368, 16), (13640, 16))

In [7]:
38192 + 16368 + 13640

68200

In [8]:
train.head()

,bathrooms,bedrooms,squarefeet,num_fireplace,latitude,longitude,regionidzip,threequarter_baths,logerror,age,fips_06037,fips_06059,fips_06111,hottub_or_spa,has_pool,tax_delinquency
44785,2.0,4.0,1430.0,0.0,33656927.0,-117951898.0,96964,0.0,0.262900,49,0,1,0,0,0,0
16267,3.0,5.0,2625.0,0.0,34302964.0,-118506606.0,96370,0.0,-0.045759,52,1,0,0,0,1,0
24208,2.5,3.0,1109.0,0.0,33655478.0,-117684439.0,96962,1.0,-0.011548,28,0,1,0,0,0,0
40323,3.0,3.0,1732.0,0.0,34569171.0,-118065585.0,97328,0.0,-0.041808,33,1,0,0,0,0,0
71569,1.0,2.0,808.0,0.0,33896400.0,-118253813.0,96090,0.0,-0.090481,66,1,0,0,0,0,0