In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

pd.options.display.max_rows = 100

In [2]:
import wrangle_zillow as w

## Acquire:

In [3]:
df = w.acquire_zillow()

Using cached csv

In [4]:
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN

In [5]:
df.shape

(77380, 68)

## Prepare:

In [6]:
# Identify and remove the non-single units
not_single = [246, 248, 247, 267, 31]
df = df[~df.propertylandusetypeid.isin(not_single)]

In [7]:
df.shape

(74065, 68)

In [8]:
# Take a look at what our nulls look like
col_nulls = w.nulls_by_col(df)

In [9]:
w.nulls_by_rows(df)

    num_cols_missing  num_rows  pct_cols_missing
0                 23         2          0.338235
1                 24        13          0.352941
2                 25        24          0.367647
3                 26        65          0.382353
4                 27       316          0.397059
5                 28       454          0.411765
6                 29      5263          0.426471
7                 30      3443          0.441176
8                 31      9789          0.455882
9                 32     12479          0.470588
10                33     14318          0.485294
11                34     12854          0.500000
12                35      4024          0.514706
13                36      5115          0.529412
14                37      3395          0.544118
15                38      1890          0.558824
16                39       241          0.573529
17                40       173          0.588235
18                41        21          0.602941
19                42        23          0.617647
20                43        25          0.632353
21                44        78          0.647059
22                45        50          0.661765
23                46         4          0.676471
24                47         3          0.691176
25                48         3          0.705882

In [10]:
# Investigating the columns that would be dropped by a 50% proportion requirement
poss_imputes = col_nulls.index[col_nulls.pct_rows_null > .49]
for col in poss_imputes:
    print(col)
    print(df[col].value_counts(dropna=False))
    print('----------')

airconditioningtypeid
NaN     49335
1.0     22943
13.0     1567
5.0       167
11.0       53
Name: airconditioningtypeid, dtype: int64
----------
architecturalstyletypeid
NaN     73859
7.0       172
8.0        19
21.0        7
2.0         5
3.0         3
Name: architecturalstyletypeid, dtype: int64
----------
basementsqft
NaN       74015
900.0         2
700.0         2
100.0         2
640.0         2
515.0         2
273.0         2
912.0         2
588.0         1
819.0         1
1809.0        1
604.0         1
126.0         1
669.0         1
314.0         1
800.0         1
786.0         1
396.0         1
112.0         1
645.0         1
384.0         1
1969.0        1
252.0         1
600.0         1
1218.0        1
280.0         1
3112.0        1
1416.0        1
224.0         1
512.0         1
380.0         1
204.0         1
200.0         1
90.0          1
405.0         1
300.0         1
674.0         1
1252.0        1
254.0         1
3560.0        1
352.0         1
168.0         1
394.0         1
38.0          1
Name: basementsqft, dtype: int64
----------
buildingclasstypeid
NaN    74065
Name: buildingclasstypeid, dtype: int64
----------
decktypeid
NaN     73451
66.0      614
Name: decktypeid, dtype: int64
----------
finishedfloor1squarefeet
NaN       68044
1252.0       22
1441.0       21
1462.0       21
780.0        21
          ...
1988.0        1
666.0         1
1437.0        1
1307.0        1
2652.0        1
Name: finishedfloor1squarefeet, Length: 1788, dtype: int64
----------
finishedsquarefeet13
NaN       74024
1440.0       18
1344.0        5
1536.0        3
1488.0        3
1152.0        2
1392.0        2
1248.0        2
1056.0        1
1300.0        1
1560.0        1
1512.0        1
1060.0        1
1200.0        1
Name: finishedsquarefeet13, dtype: int64
----------
finishedsquarefeet15
NaN       74054
744.0         2
608.0         2
654.0         1
646.0         1
1042.0        1
893.0         1
600.0         1
1182.0        1
598.0         1
Name: finishedsquarefeet15, dtype: int64
----------
finishedsquarefeet50
NaN       68044
1252.0       22
1205.0       21
1498.0       21
1441.0       21
          ...
2274.0        1
2738.0        1
3601.0        1
5168.0        1
2652.0        1
Name: finishedsquarefeet50, Length: 1808, dtype: int64
----------
finishedsquarefeet6
NaN       73898
952.0         4
520.0         3
765.0         2
750.0         2
          ...
1178.0        1
670.0         1
748.0         1
1200.0        1
905.0         1
Name: finishedsquarefeet6, Length: 158, dtype: int64
----------
fireplacecnt
NaN    65804
1.0     6996
2.0      994
3.0      233
4.0       35
5.0        3
Name: fireplacecnt, dtype: int64
----------
garagecarcnt
NaN     48769
2.0     18601
1.0      5660
3.0       632
4.0       255
0.0        75
5.0        45
6.0        14
7.0         4
10.0        3
8.0         2
9.0         2
11.0        1
13.0        1
14.0        1
Name: garagecarcnt, dtype: int64
----------
garagetotalsqft
NaN       48769
0.0        7507
400.0       786
441.0       678
462.0       658
          ...
1006.0        1
275.0         1
1056.0        1
261.0         1
957.0         1
Name: garagetotalsqft, Length: 840, dtype: int64
----------
hashottuborspa
NaN    72528
1.0     1537
Name: hashottuborspa, dtype: int64
----------
poolcnt
NaN    57973
1.0    16092
Name: poolcnt, dtype: int64
----------
poolsizesum
NaN       73198
450.0        90
400.0        38
500.0        30
600.0        27
          ...
275.0         1
434.0         1
1070.0        1
368.0         1
780.0         1
Name: poolsizesum, Length: 263, dtype: int64
----------
pooltypeid10
NaN    73602
1.0      463
Name: pooltypeid10, dtype: int64
----------
pooltypeid2
NaN    72991
1.0     1074
Name: pooltypeid2, dtype: int64
----------
pooltypeid7
NaN    59068
1.0    14997
Name: pooltypeid7, dtype: int64
----------
regionidneighborhood
NaN         45092
27080.0       710
48570.0       702
37739.0       684
51906.0       548
            ...
275778.0        1
268050.0        1
764138.0        1
762890.0        1
762940.0        1
Name: regionidneighborhood, Length: 478, dtype: int64
----------
storytypeid
NaN    74015
7.0       50
Name: storytypeid, dtype: int64
----------
threequarterbathnbr
NaN    63972
1.0    10009
2.0       75
3.0        8
7.0        1
Name: threequarterbathnbr, dtype: int64
----------
typeconstructiontypeid
NaN     73843
6.0       219
13.0        1
10.0        1
4.0         1
Name: typeconstructiontypeid, dtype: int64
----------
yardbuildingsqft17
NaN      71678
200.0      103
240.0       76
300.0       50
180.0       42
         ...
786.0        1
82.0         1
710.0        1
281.0        1
409.0        1
Name: yardbuildingsqft17, Length: 541, dtype: int64
----------
yardbuildingsqft26
NaN      73995
120.0        3
30.0         3
56.0         2
300.0        2
88.0         2
240.0        2
448.0        2
144.0        2
33.0         2
486.0        1
491.0        1
91.0         1
250.0        1
133.0        1
16.0         1
39.0         1
284.0        1
48.0         1
575.0        1
204.0        1
140.0        1
71.0         1
28.0         1
195.0        1
292.0        1
231.0        1
320.0        1
384.0        1
180.0        1
49.0         1
868.0        1
462.0        1
461.0        1
72.0         1
105.0        1
414.0        1
160.0        1
45.0         1
752.0        1
169.0        1
21.0         1
200.0        1
113.0        1
41.0         1
314.0        1
12.0         1
66.0         1
37.0         1
648.0        1
174.0        1
218.0        1
60.0         1
336.0        1
108.0        1
216.0        1
360.0        1
196.0        1
368.0        1
576.0        1
Name: yardbuildingsqft26, dtype: int64
----------
numberofstories
NaN    56719
1.0    10337
2.0     6573
3.0      435
6.0        1
Name: numberofstories, dtype: int64
----------
fireplaceflag
NaN    73893
1.0      172
Name: fireplaceflag, dtype: int64
----------
taxdelinquencyflag
NaN    71417
Y       2648
Name: taxdelinquencyflag, dtype: int64
----------
taxdelinquencyyear
NaN     71417
15.0     1436
14.0      726
13.0      165
12.0      108
11.0       91
10.0       59
9.0        41
8.0        10
7.0         9
6.0         1
99.0        1
4.0         1
Name: taxdelinquencyyear, dtype: int64
----------
airconditioningdesc
NaN          49335
Central      22943
Yes           1567
None           167
Wall Unit       53
Name: airconditioningdesc, dtype: int64
----------
architecturalstyledesc
NaN              73859
Contemporary       172
Conventional        19
Ranch/Rambler        7
Bungalow             5
Cape Cod             3
Name: architecturalstyledesc, dtype: int64
----------
buildingclassdesc
NaN    74065
Name: buildingclassdesc, dtype: int64
----------
storydesc
NaN         74015
Basement       50
Name: storydesc, dtype: int64
----------
typeconstructiondesc
NaN         73843
Frame         219
Masonry         1
Metal           1
Concrete        1
Name: typeconstructiondesc, dtype: int64
----------

1. fireplacecnt - all NaN can be 0, not encoded
3. hashottuborspa - all NaN can be 0, encode
4. poolcnt - all NaN can be 0, encode
5. threequarterbathnbr - NaN can be 0, not encoded
6. taxdelinquiencyflag - NaN can be No, can change to 1/0 encoded

The other columns are not worth 'saving' due to redundant information, inability/unnecessary to impute, or too many unexplained nulls

In [11]:
cols = ['fireplacecnt', 'hashottuborspa', 'poolcnt', 'threequarterbathnbr', 'taxdelinquencyflag']

In [12]:
for col in cols:
    df[col] = df[col].fillna(value=0)

In [13]:
for col in cols:
    print(df[col].value_counts(dropna=False))

0.0    65804
1.0     6996
2.0      994
3.0      233
4.0       35
5.0        3
Name: fireplacecnt, dtype: int64
0.0    72528
1.0     1537
Name: hashottuborspa, dtype: int64
0.0    57973
1.0    16092
Name: poolcnt, dtype: int64
0.0    63972
1.0    10009
2.0       75
3.0        8
7.0        1
Name: threequarterbathnbr, dtype: int64
0    71417
Y     2648
Name: taxdelinquencyflag, dtype: int64

In [15]:
# Dropping our columns that do not have 50% threshold for column or row of non-nulls
df = w.handle_missing_values(df, .5, .5)

In [16]:
df.shape

(73668, 39)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73668 entries, 0 to 77379
Data columns (total 39 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            73668 non-null  int64
 1   parcelid                      73668 non-null  int64
 2   bathroomcnt                   73668 non-null  float64
 3   bedroomcnt                    73668 non-null  float64
 4   buildingqualitytypeid         46900 non-null  float64
 5   calculatedbathnbr             73603 non-null  float64
 6   calculatedfinishedsquarefeet  73664 non-null  float64
 7   finishedsquarefeet12          73465 non-null  float64
 8   fips                          73668 non-null  float64
 9   fireplacecnt                  73668 non-null  float64
 10  fullbathcnt                   73603 non-null  float64
 11  hashottuborspa                73668 non-null  float64
 12  heatingorsystemtypeid         48505 non-null  float64
 13  latitude                      73668 non-null  float64
 14  longitude                     73668 non-null  float64
 15  lotsizesquarefeet             65714 non-null  float64
 16  poolcnt                       73668 non-null  float64
 17  propertycountylandusecode     73668 non-null  object
 18  propertylandusetypeid         73668 non-null  float64
 19  propertyzoningdesc            47249 non-null  object
 20  rawcensustractandblock        73668 non-null  float64
 21  regionidcity                  72241 non-null  float64
 22  regionidcounty                73668 non-null  float64
 23  regionidzip                   73629 non-null  float64
 24  roomcnt                       73668 non-null  float64
 25  threequarterbathnbr           73668 non-null  float64
 26  unitcnt                       47268 non-null  float64
 27  yearbuilt                     73629 non-null  float64
 28  structuretaxvaluedollarcnt    73592 non-null  float64
 29  taxvaluedollarcnt             73667 non-null  float64
 30  assessmentyear                73668 non-null  float64
 31  landtaxvaluedollarcnt         73667 non-null  float64
 32  taxamount                     73663 non-null  float64
 33  taxdelinquencyflag            73668 non-null  object
 34  censustractandblock           73453 non-null  float64
 35  logerror                      73668 non-null  float64
 36  transactiondate               73668 non-null  object
 37  heatingorsystemdesc           48505 non-null  object
 38  propertylandusedesc           73668 non-null  object
dtypes: float64(31), int64(2), object(6)
memory usage: 22.5+ MB

In [19]:
# Rows to drop bc they are not useful, redundant, or cause leakage
to_drop = ['id', 'parcelid', 'calculatedbathnbr', 'finishedsquarefeet12', 'lotsizesquarefeet', 'propertycountylandusecode',
          'propertylandusetypeid', 'propertyzoningdesc', 'rawcensustractandblock', 'structuretaxvaluedollarcnt', 'taxvaluedollarcnt',
          'assessmentyear', 'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock', 'transactiondate', 'heatingorsystemdesc', 
          'propertylandusedesc']

In [20]:
df = df.drop(columns=to_drop)

In [21]:
df.shape

(73668, 21)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73668 entries, 0 to 77379
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bathroomcnt                   73668 non-null  float64
 1   bedroomcnt                    73668 non-null  float64
 2   buildingqualitytypeid         46900 non-null  float64
 3   calculatedfinishedsquarefeet  73664 non-null  float64
 4   fips                          73668 non-null  float64
 5   fireplacecnt                  73668 non-null  float64
 6   fullbathcnt                   73603 non-null  float64
 7   hashottuborspa                73668 non-null  float64
 8   heatingorsystemtypeid         48505 non-null  float64
 9   latitude                      73668 non-null  float64
 10  longitude                     73668 non-null  float64
 11  poolcnt                       73668 non-null  float64
 12  regionidcity                  72241 non-null  float64
 13  regionidcounty                73668 non-null  float64
 14  regionidzip                   73629 non-null  float64
 15  roomcnt                       73668 non-null  float64
 16  threequarterbathnbr           73668 non-null  float64
 17  unitcnt                       47268 non-null  float64
 18  yearbuilt                     73629 non-null  float64
 19  taxdelinquencyflag            73668 non-null  object
 20  logerror                      73668 non-null  float64
dtypes: float64(20), object(1)
memory usage: 12.4+ MB